<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Productos</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../asset/css/global.css'>
  
    <!-- Librerias -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">
    
    <!-- ajax jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <div class="container">
        <div id="inputData">
            <form>
                <fieldset class="formulario">
                    <legend>Person</legend>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">first name</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="id" id="id" value="">
                            <input type="text" class="form-control" name="firstName" id="firstName" value=""
                            required  placeholder="enter the first name ">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Ingrese el codigo.
                            </div>
                  <br>    
                </div>
                
                <label class="col-sm-2 col-form-label">last name</label>
                <div class="col-sm-10">
                            <input type="text" class="form-control" name="lastName" id="lastName" value=""
                            required  placeholder="enter the  last name">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Ingrese el codigo.
                            </div>
                            <br>    
                        </div>
                        <label class="col-sm-2 col-form-label">email</label>
                        <div class="col-sm-10">
                                    <input type="email" class="form-control" name="email" id="email" value=""
                                    required  placeholder="enter the  email">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Ingrese el codigo.
                                    </div>
                                    <br>    
                                </div>
                                <label class="col-sm-2 col-form-label">password</label>
                                <div class="col-sm-10">
                                            <input type="password" class="form-control" name="password" id="password" value=""
                                            required  placeholder="enter the  password">
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Ingrese el codigo.
                                            </div>
                                            <br>    
                                        </div>

                                <label class="col-sm-2 col-form-label">phone</label>
                                <div class="col-sm-10">
                                            <input type="text" class="form-control" name="phone" id="phone" value=""
                                            required  placeholder="enter the phone">
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Ingrese el codigo.
                                            </div>
                                            <br>    
                                        </div>
                                  
                                <label class="col-sm-2 col-form-label">dateOfBirth</label>
                                <div class="col-sm-10">
                                            <input type="text" class="form-control" name="dateOfBirth" id="dateOfBirth" value=""
                                            required  placeholder="enter the dateOfBirth  aaaa/mm/dd">
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Ingrese el codigo.
                                            </div>
                                            <br>    
                                        </div>    
                                
                                        <label class="col-sm-2 col-form-label">gender</label>
                                        <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="gender" id="gender" value=""
                                                    required  placeholder="enter the gender">
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Ingrese el codigo.
                                                    </div>
                                                    <br>    
                                                </div>       
                                                
                                         
                                <label class="col-sm-2 col-form-label">address</label>
                                <div class="col-sm-10">
                                            <input type="text" class="form-control" name="address" id="address" value=""
                                            required  placeholder="enter the address">
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Ingrese el codigo.
                                            </div>
                                            <br>    
                                        </div>       
                        
                      
                                        <label class="col-sm-2 col-form-label" for="city_id">city: </label>
                                        <div class="col-sm-10">
                                            <input type="hidden" id="selected_city_id" name="selected_city_id" value="">
                                            <input type="text" list="citys" class="form-control" name="city_id" id="city_id">
                                            <datalist id="citys">
                                              </datalist>
                                            
                                            <div class="valid-feedback">
                                                Looks good!
                                              </div>
                                              <div class="invalid-feedback">
                                                Ingrese el codigo.
                                                  </div>
                                              <br>  
                                        </div>
                        
                        </div>
  
                </fieldset>
                <div id="buttonData">
                    <br>
                    <button name="btnAgregar" type="button" onclick="save()" class="btn btn-success">Agragar</button>
                </div>    
            </form>
        </div>

       
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="../js/record.js"></script>
    <script>
        $(document).ready(function() {
            // Llamar a loadPerson() al intentar agregar una persona en el campo de entrada 'person'
            $("#city_id").on("input", function() {
                loadCity();
            });
        });
            loadData();
            </script>
        

</body>

</html>

